__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pth
.idea/
result/
server/
checkpoint/
dataset/camvid
dataset/cityscapes
dataset/inform
dataset/seed
dataset/remote
dataset/pollen
docs/
.idea/
run.py